.fixed_cerez {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 999;
}

.fixed_cerez .overlay_areas_2 {
    background: #000;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
}

.fixed_cerez .textt {
    z-index: 2;
    position: relative;
    color: #fff;
    padding: 0px 0;
    width: 1240px;
    margin: 0 auto;
}

.fixed_cerez .textt p {
    font: 14px 'hm',arial;
    width: 95%;
    float: left;
    margin-right: 10px;
    text-align:left;
}


.fixed_cerez .textt p a {
    color: #fff;
    text-decoration: underline;
    font-weight: bold;
}

.fixed_cerez .textt a.ok_btn {
    color: #fff;
    font: 14px 'hm',arial;
    background: #076cd8;
    padding: 8px 15px;
    border-radius: 2px;
    right: 50px;
    top: 50%;
    margin-top: 0;
    float: left;
}

.fixed_cerez .textt a.close {
    color: #fff;
    font: 24px 'hm',arial;
    position: absolute;
    right: 20px;
    top: 10px;
}

.dsplyN{
  position: absolute !important;
  left: -9999999999px;

}


.hide_area2{
  position: fixed;
  left: -999999999px;
}


.expert-box .expert-box-content a{
    display: block;
    margin: 10px 0;
    text-align: left;
    padding: 0 15px;
    color: #363636;
    line-height: 48px;
    height: 50px;
    span{
      width: 100%;
      display: block;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
}


#technical_pop_up{
    display: none;
}

#technical_pop_up1, #technical_pop_up2, #technical_pop_up3, #technical_pop_up4, #technical_pop_up5, #technical_pop_up6, #technical_pop_up7, #technical_pop_up8, #technical_pop_up9, #technical_pop_up10{
  display: none;
}

#overlay-bg1, #overlay-bg2, #overlay-bg3, #overlay-bg4, #overlay-bg5, #overlay-bg6, #overlay-bg7, #overlay-bg8, #overlay-bg9, #overlay-bg10 {
  background: rgba(0,0,0,0.5);
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 888;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

#overlay-bg1.open, .overlay.open {
  opacity: 1;
}

#overlay-bg2.open, .overlay.open {
  opacity: 1;
}

#overlay-bg3.open, .overlay.open {
  opacity: 1;
}

#overlay-bg4.open, .overlay.open {
  opacity: 1;
}

#overlay-bg5.open, .overlay.open {
  opacity: 1;
}

#overlay-bg6.open, .overlay.open {
  opacity: 1;
}

#overlay-bg7.open, .overlay.open {
  opacity: 1;
}

#overlay-bg8.open, .overlay.open {
  opacity: 1;
}

#overlay-bg9.open, .overlay.open {
  opacity: 1;
}

#overlay-bg10.open, .overlay.open {
  opacity: 1;
}

.overlay-content{
  .left{
    float: left;
    margin-right: 20px;
    img{
      width: 100px;
    }
  }
  .right{
    .product-sizes{
      h3{
        line-height: 50px;
        padding-right: 15px;
      }
      a{
        line-height: 40px;
        border-radius: 20px;
        padding: 0 15px;
        margin: 5px;
        background: #f7941d;
        color: #fff;
        display: inline-block;
      }
    }
    .product-doc{
      a{
        max-width: 290px;
        padding: 0 20px;
        margin: 20px 0;
        &:last-child{
          margin-bottom: 0;
        }
        i{
          position: absolute;
          right: 20px;
          top: 6px;
        }
      }
    }
  }
}



#close_pop_Up{
    i{
        position: absolute;
        top: 8px;
        right: 0;
        left: 0;
        margin: 0 auto;
        text-align: center;
    }
}

.new_phone{
  border: none !important;
  padding: 0 !important;
  margin: 0 !important;
  width: 350px !important;
  .phone_new{
    a{
      color: #fff;
      font-size: 24px;
      margin-bottom: 15px;
      display: block;
    }
  }
  .new_adress{
    p{
      margin: 0 !important;
      padding: 0 !important;
      line-height: 20px !important;
    }
  }
}

.new_footer_text{
  p{
    margin: 0;
    text-align: center;
    font-size: 18px;
  }
}

.about_area_in_{
  background: #fff;
  padding: 30px 40px;
  margin: 0 !important;
  .about_left_img{
    flex-grow: 1;
    flex-basis: 0;

    .about_table{
      display: table;
      height: 100%;
      width: 100%;
      .about_table_cell{
        display: table-cell;
        vertical-align: middle;
        img{
          width: 100%;
        }
      }
    }

  }
  .about_right_text{
    flex-grow: 2;
    flex-basis: 0;
    padding-top: 25px;
    h2{
      color: #464646;
    }
    p{
      color: #464646;
    }
  }
}

.banner-container .swiper-pagination{
  display: none;
}



.hide_area{
  opacity: 0;
  position: absolute;
  left: -99999999px;
}


.header-container{
  ._new_logo{
    width: 161px;
  }
}



@media only screen and (max-width: 1239px) and (min-width: 1152px) {
    .fixed_cerez .textt {
        width: 950px;
    }

    .fixed_cerez .textt a.ok_btn {
        margin-top: 17px;
    }
}

@media only screen and (max-width: 1151px) and (min-width: 1024px) {
    .fixed_cerez .textt {
        width: 950px;
    }

    .fixed_cerez .textt a.ok_btn {
        margin-top: 17px;
    }
}

@media only screen and (max-width: 1023px) and (min-width: 991px) {
    .fixed_cerez .textt {
        width: 850px;
    }

    .fixed_cerez .textt a.ok_btn {
        position: relative;
        right: inherit;
        margin-top: 16px;
    }

    .fixed_cerez .textt a.close {
        right: 0;
    }
}

@media only screen and (max-width: 990px) and (min-width: 768px) {
  .header-container ._new_logo {
    width: 110px;
  }


  .img_area{
    .about_area_in_ .about_left_img{
      text-align: center;
      margin: 0 auto 10px auto;
    }
  }

    .fixed_cerez .textt {
        width: 95%;
        text-align: center;
        padding: 50px 0 35px 0;
    }

    .fixed_cerez .textt a.ok_btn {
        margin: 20px auto 0 auto;
        display: inline-block;
        text-align: center;
        float: none;
    }

    .fixed_cerez .textt p {
        width: 100%;
        float: none;
    }


  .footer-middle-container{
    display: block !important;
    .footer-phone{
      width: 100%;
      text-align: center;
      margin-bottom: 15px;
      .new_phone{
        margin: 0 auto !important;
        display: block;
        text-align: center;
      }
    }
    #footer-social{
      width: 197px;
      text-align: center;
      margin: 0 auto 15px auto;

      a{
        margin-right: 10px;
        &:last-child{
          margin: 0;
        }
      }
    }
    .new_footer_text p{
      font-size: 14px;
    }
  }


}


@media only screen and (max-width: 767px) {

  .header-container ._new_logo {
    width: 110px;
  }

  .img_area{
    .about_area_in_ .about_left_img{
      text-align: center;
      margin: 0 auto 10px auto;
    }
  }

  .hide_area{
    opacity: 0;
    position: inherit;
    height: 0;
  }



  .hiddes_S{
    overflow: hidden;
  }

  .overlay{
    .overlay-content{
      height: auto !important;
      max-height: 350px;
    }
  }


  .overlay-content .left img{
    width: 70px;
  }

    .fixed_cerez .textt {
        width: 95%;
        text-align: center;
        padding: 50px 0 35px 0;
    }

    .fixed_cerez .textt a.ok_btn {
        margin: 20px auto 0 auto;
        display: inline-block;
        text-align: center;
        float: none;
        font-size: 12px;
    }

    .fixed_cerez .textt p {
        width: 100%;
        float: none;
        font-size: 12px;
    }

  .footer-middle-container{
    display: block !important;
    .footer-phone{
      width: 100%;
      text-align: center;
      margin-bottom: 15px;
      .new_phone{
        margin: 0 auto !important;
        display: block;
        text-align: center;
      }
    }
    #footer-social{
      width: 197px;
      text-align: center;
      margin: 0 auto 15px auto;

      a{
        margin-right: 10px;
        &:last-child{
          margin: 0;
        }
      }
    }
    .new_footer_text p{
      font-size: 14px;
    }
  }

  .new_phone .phone_new a{
    font-size: 20px;
  }


}



@media (min-width: 1200px){
  .product-item {
    width: 20% !important;
  }
}

