.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);

  &:not(.active) {
    transform: scale(0);
  }

  &-dialog {
    display: flex;
    justify-content: center;
    width: 60%;
    max-width: 1000px;
    max-height: 85vh;
    margin: 10vh auto;

    &.modal-xl {
      width: 90vw;
      max-width: 90vw;
      max-height: 90vh;
      margin: 5vh 5vw;
    }

    &.modal-sm {
      width: 500px;
      max-height: 90vh;
      margin: 5vh auto;
    }
  }

  &-content {
    width: 100%;
    background-color: #fff;
    border-radius: .5rem;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.7);
  }

  &-header {
    position: relative;
    padding: 1rem;
    border-bottom: 1px solid #ccc;
  }

  &-footer {
    padding: 1rem;
    text-align: right;
    border-top: 1px solid #ccc;
  }

  &-title {
    margin: 0;
  }

  &-close-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;

    &:hover {
      opacity: 0.7;
    }
  }

  &-body {
    padding: 1rem;
    overflow-x: hidden;
    overflow-y: auto;

    &:not(.full-body) {
      max-height: calc(100% - 7rem);
    }
  }
}