<!--TECHNICAL SUPPORT AREA-->
<section class="box-container container expert-container">
    <header class="box-header">
        <h2 class="opet-reg"><%=data.translations.sitetextmaintechsupport%></h2>
    </header>
    <article class="box-content">
        <div class="row col-2 flex" id="techSupportBox">
        </div>
    </article>
</section>
<%-include('../templates/template-tech-support')%>
<!--TECHNICAL SUPPORT AREA-->