<!-- ------------START MAIN POPUP CONTENT------------ -->
<div id="technical_pop_up">
    <div class="overlay inc" id="pop_Up1" tabindex="-1">
        <div class="overlay-wrapper">
            <div class="overlay-container">
                <div class="popup_content">

                </div>
            </div>
        </div>
    </div>
    <div id="overlay-bg1" class=""></div>
</div>
<!-- ------------END MAIN POPUP  CONTENT------------ -->